LinkedIn Social Ghost (LinkedIn-Optimized).json
{
  "name": "LinkedIn Social Ghost (LinkedIn-Optimized)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "daily-social-research",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "2b4f03e5-097d-4072-bc1a-32334cde12a2",
      "name": "Webhook",
      "webhookId": "62e1b985-0a11-41a0-9d2a-83bdcebeab22"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst seenLinks = new Set();\n\nconst addResult = (link, title, snippet) => {\n  if (link && link.includes('linkedin.com/') && !seenLinks.has(link)) {\n    seenLinks.add(link);\n    results.push({ \n      json: { \n        title: title || \"New LinkedIn Post\", \n        link: link, \n        snippet: snippet || title || \"No context available\" \n      } \n    });\n  }\n};\n\n// 1. Process Organic Results\nconst organic = $node[\"SerpApi\"].json.organic_results;\nif (organic && Array.isArray(organic)) {\n  organic.forEach(res => {\n    addResult(res.link, res.title, res.snippet);\n  });\n}\n\n// 2. Process Perspectives (The feature you found!)\nconst perspectives = $node[\"SerpApi\"].json.perspectives;\nif (perspectives && Array.isArray(perspectives)) {\n  perspectives.forEach(res => {\n    const link = res.link || res.link_url || res.url;\n    addResult(link, res.title, res.snippet || res.title);\n  });\n}\n\nreturn results.slice(0, 3); // Returns top 3 unique posts\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "4bf154d4-d98a-4ce6-8aac-4bf36f40aae0",
      "name": "LinkedIn Filter"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gemini-3-flash-preview",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "You are the Voice of Miraee Agentic OS. Miraee is the single hub that simplifies corporate travel, accommodation, and expenses.\nCore Miraee DNA:\n- One-Stop Hub: Manages flights, hotels, cabs, events, and summits in one place.\n- Disruption Management: AI agents monitor cancellations (weather/tech) in real-time, suggest immediate alternatives, and auto-book upon user approval.\n- Policy & Budget Compliance: Searches automatically filter for company-approved travel policies and budget ranges.\n- Instant Expense Management: Users snap a photo of receipts; Miraee parses them, tags them to the trip, and notifies accounting for 1-click auditing and reimbursement.\n- End-to-End: From the first booking to final financial audit reports.\nYour Task:\nAnalyze the provided LinkedIn post. Draft 3 insightful comments. \nGoal: Position Miraee as the solution to the problems mentioned (e.g., travel chaos, expense manual work, policy bypass, or cancellation stress).\nTone: Professional, expert, and proactive.\nFormat: Bold Headers. No hashtags. Under 3 sentences per option."
            },
            {
              "content": "=PROMPT FOR MIRAEE ANALYST:\nI found a trending post on LinkedIn that needs a Miraee-level response.\nPOST TITLE: {{ $json.title }}\nURL: {{ $json.link }}\nPOST CONTEXT: {{ $json.snippet }}\nDRAFT 3 RESPONSE OPTIONS:\n1. **The Visionary Perspective** (Focus on the industry's future)\n2. **The Efficiency Perspective** (Focus on how Miraee replaces the manual work)\n3. **The 'Agentic' Perspective** (Focus on how our AI agents solve this specific pain point)\nAlways conclude with a professional tone that invites discussion.\nInstructions: 3 options, under 3 sentences each. Professional tone.\n\nInstruction: Provide 3 clear options. Separate each option with a double line break. Use bold for headers.\n\nFormat: Option 1: [Perspective Name] [Comment Text]"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        672,
        0
      ],
      "id": "36d309b0-e826-40e6-a73d-4c6d676207c8",
      "name": "Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "BZC1qAp83ZOYfHRL",
          "name": "Instant Announcer"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "dhanushmohanraj78@gmail.com",
        "subject": "={{ \" LinkedIn Opportunity: \" + $node[\"LinkedIn Filter\"].json[\"title\"].substring(0, 50) + \"...\" }}\n",
        "message": "=<h3>Expert LinkedIn Opportunity Found!</h3>\n<p><strong>Topic:</strong> <a href=\"{{ $node[\"LinkedIn Filter\"].json[\"link\"] }}\" style=\"color: #FA4D33; font-weight: bold;\">{{ $node[\"LinkedIn Filter\"].json[\"title\"] }}</a></p>\n\n<div style=\"background-color: #F9F4F0; padding: 24px; border-radius: 12px; border-left: 5px solid #4F001D; margin: 20px 0;\">\n  <h4 style=\"margin-top: 0; color: #4F001D;\">Proposed Comments:</h4>\n  <div style=\"white-space: pre-wrap; line-height: 1.6; color: #172B4D;\">{{ $json.content }}</div>\n</div>\n\n<p style=\"font-size: 13px; color: #7A869A;\">Click the link above to view the post, paste your favorite draft, and win the feed!</p>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1024,
        0
      ],
      "id": "01aff9a9-fcd3-4812-aaef-acea23e9d5bd",
      "name": "Gmail",
      "webhookId": "8f6f34ae-5b14-464e-ad3d-20a3f2bb1618",
      "credentials": {
        "gmailOAuth2": {
          "id": "5b2fYtWoLEnRYlSA",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"title\": \"{{ $node[\"LinkedIn Filter\"].json[\"title\"] }}\",\n  \"link\": \"{{ $node[\"LinkedIn Filter\"].json[\"link\"] }}\",\n  \"content\": \"{{ $node[\"Ollama\"].json[\"content\"] }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1232,
        0
      ],
      "id": "c7b1742f-c7c4-4cf7-a010-47ba3cdc0d3a",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "q",
              "value": "=site:linkedin.com/posts {{$json[\"body\"][\"query\"]}}"
            },
            {
              "name": "location",
              "value": "India"
            },
            {
              "name": "api_key",
              "value": "bf59eec02e55ebd2c2dda0d5396370edd81e5170f414b0cbf632af4ba466597e"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        256,
        0
      ],
      "id": "503bf0db-0a7f-47a8-b2c0-c55d886cb7e1",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Filter": {
      "main": [
        [
          {
            "node": "Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "LinkedIn Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c24ab552-c139-45ba-83d6-3cd6f9d6618b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "48873ca0faf2834fcac348c85b5cfe8a77d198239fa094d25a95512e1a2e676b"
  },
  "id": "uohINiNDT9Uhj3jh",
  "tags": []
}