Personalized Message sharing Automation working.json
{
  "name": "Personalized Message sharing Automation working",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1vFgXfOnsiCbVOvOJxj6E-sErHtLQ03AaVj4mP3YjAls",
          "mode": "list",
          "cachedResultName": "ICP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vFgXfOnsiCbVOvOJxj6E-sErHtLQ03AaVj4mP3YjAls/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1759447022,
          "mode": "list",
          "cachedResultName": "Verified Emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vFgXfOnsiCbVOvOJxj6E-sErHtLQ03AaVj4mP3YjAls/edit#gid=1759447022"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        992,
        544
      ],
      "id": "6fa77cf0-4337-498f-b131-2bd099d9374e",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RQHgqiU45PVMtr8V",
          "name": "Mondee 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1424,
        544
      ],
      "id": "d6957e67-ab97-433c-96be-7629ca05a999",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1712,
        704
      ],
      "id": "b4e34a20-ed59-4838-b157-7134efc91802"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "You are a Sales Intelligence Researcher for Miraee (Agentic OS for Travel/Expenses). Your goal is to help find 'Business Signals' that indicate a company is scaling, expanding, or growing its team. This helps identify companies whose travel and expense management complexity is increasing."
            },
            {
              "content": "=Generate ONE 'Precision' 2026-style Google search query to find the most recent social hooks for {{ $json.company }}.\n\nFocus on these specific sources:\n- site:linkedin.com/posts\n- site:twitter.com OR site:x.com\n- site:{{ $json.company.toLowerCase().replace(/ /g, '') }}.com/blog\n\nKeywords: (announcement OR \"hiring\" OR \"launch\" OR \"thrilled to share\")\n\nRules:\n- Be concise. Do NOT clutter with too many OR operators.\n- Format as a valid Google Search string.\n- Return ONLY the query text."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        1648,
        272
      ],
      "id": "4db9b8d6-a1ff-48bd-a850-549434dd4801",
      "name": "Message a model",
      "credentials": {
        "ollamaApi": {
          "id": "GDLVs3PgktcseISO",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let output = [];\n\nfor (const item of items) {\n  const blocks = item.json.text_blocks || [];\n  // Consolidated all snippets into one text block for the AI to analyze together\n  let consolidatedContent = blocks.map(b => b.snippet).filter(s => s).join(\"\\n\\n---\\n\\n\");\n\n  output.push({\n    json: {\n      ...item.json, // PRESERVE ALL LEAD DATA\n      consolidated_snippets: consolidatedContent || \"No specific snippets found.\",\n      source: \"Google AI Mode\"\n    }\n  });\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2224,
        272
      ],
      "id": "4f5e5488-9d8f-4ee4-9232-c8fa84da7947",
      "name": "Consolidate Search Results"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "You are a Sales Intelligence Researcher for Miraee (an Agentic OS for Corporate Travel & Expenses). \n\nYour Goal: Analyze business signals from search results to identify 'Pain Points' that Miraee solves for mid-range Indian companies.\n\nMiraee Solutions Map:\n- **Scale-Up / Funding**: Triggers the need for transparent financial auditing and automated reimbursement.\n- **New Hiring / Team Growth**: Increases travel volume; needs automated flight/hotel/cab booking compliance.\n- **Expanding to New Cities**: Increases travel complexity; requires Miraee's 'Disruption Management' (auto-rebooking for cancelled flights).\n- **Cost Cutting**: Needs strict adherence to corporate travel policies and budget limits."
            },
            {
              "content": "=Analyze these 2026 search results for {{ $json.name }} at {{ $json.company }} to find a high-conversion 'Narrative Hook'.\n\nSearch Results:\n{{ $json.consolidated_snippets }}\n\nStep 1: Identify the strongest available 'Operational Hook' from these categories:\n- **Social/POV Hook**: A recent thought-leadership post or social update.\n- **Agentic Gap Hook**: An expansion or hiring spree that indicates their T&E management is about to break.\n- **Milestone Hook**: A product launch, funding round (Series A-C), or city expansion.\n\nStep 2: Define the 'Agentic Gap'. How does Miraee's autonomous tech solve their specific scaling pain better than traditional tools?\n\nReturn EXACTLY this JSON format:\n{\n \"hook_type\": \"Social/Agentic/Milestone\",\n \"intent_signal\": \"Brief description of the trigger event\",\n \"hook_evidence\": \"The specific quote or detail to reference in the intro\",\n \"miraee_value\": \"The specific Miraee feature (Disruption Management/Expense Governance) that fits this signal.\"\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        2672,
        352
      ],
      "id": "51f1a151-a1bd-4396-85a6-98c027fa9e96",
      "name": "Message a model1",
      "credentials": {
        "ollamaApi": {
          "id": "GDLVs3PgktcseISO",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let text = $json.content;\n\n// remove markdown if AI adds ```json\ntext = text.replace(/```json/g, '').replace(/```/g, '').trim();\n\nlet parsed = {};\n\ntry {\n  parsed = JSON.parse(text);\n} catch (e) {\n  parsed = {\n    intent_signal: \"unknown\",\n    summary: \"Parsing failed\",\n    opportunity: \"N/A\"\n  };\n}\n\nreturn {\n  json: {\n    ...$json,\n    intent_signal: parsed.intent_signal || \"unknown\",\n    summary: parsed.summary || \"Could not analyze snippet\",\n    opportunity: parsed.opportunity || \"Manual review recommended\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3024,
        352
      ],
      "id": "f301720c-1626-445e-937f-fd0b56922bce",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "You are a Senior B2B Outreach Specialist for Miraee. \n\nProduct Profile:\n- **Miraee Agentic OS**: A single hub for all corporate travel, accommodation, and expenses.\n- **Disruption Management**: AI agents monitor flights 24/7. If a flight is cancelled/delayed, Miraee notifies the user, suggests the best alternative, and books it automatically upon approval.\n- **Expense Governance**: Receipts are parsed via photo and audited instantly for policy compliance and accounting submission.\n- **Policy Control**: Automatically filters for flights/hotels that match company-approved budget limits.\n\nTone: Professional, helpful, and value-oriented. Target Indian mid-range startups looking to optimize their operational overhead."
            },
            {
              "content": "=Generate a 2026-style personalized outreach email for {{ $json.name }} at {{ $json.company }}.\n\nIntelligence Context:\n- Hook Type: {{ $json.hook_type }}\n- Signal: {{ $json.intent_signal }}\n- Hook Evidence: {{ $json.hook_evidence }}\n- Miraee Value focus: {{ $json.miraee_value }}\n\nEmail Framework (4 Steps):\n1. **The Hook**: Open by referencing the {{ $json.hook_evidence }}. Make it feel personal and high-context (no generic news intros).\n2. **The Insight**: Bridge from the hook to an operational challenge. E.g., 'Scaling that fast usually means your T&E strategy starts to hit a complexity ceiling.'\n3. **The Agentic Solution**: Introduce Miraee as an Agentic OS. Specifically mention how we handle {{ $json.miraee_value }} autonomously (e.g., AI auto-rebooking during disruptions).\n4. **Soft CTA**: Suggest a 10-minute look at the Miraee Hub. Avoid 'hard' sales closes.\n\nRules:\n- Tone: Professional but human (avoid marketing jargon).\n- Length: Keep it under 150 words.\n- DO NOT use placeholders. Use: {{ $json.name }}.\n- Return ONLY JSON with 'subject' and 'email_body'."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        3472,
        416
      ],
      "id": "14755328-7600-4b90-8f21-17852f06cf12",
      "name": "Message a model2",
      "credentials": {
        "ollamaApi": {
          "id": "GDLVs3PgktcseISO",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let output = [];\n\nfor (const item of items) {\n\n  let text = item.json.content || item.json || \"\";\n\n  // convert object to string if needed\n  if (typeof text !== \"string\") {\n    text = JSON.stringify(text);\n  }\n\n  // remove markdown if present\n  text = text.replace(/```json/g, '').replace(/```/g, '').trim();\n\n  // fix escaped new lines and quotes\n  text = text.replace(/\\\\n/g, \" \").replace(/\\\\\"/g, '\"');\n\n  let parsed = {};\n\n  try {\n    parsed = JSON.parse(text);\n  } catch (err) {\n    parsed = { \n      subject: \"Meeting Request: Miraee Agentic OS\",\n      email_body: \"Hi, I tried to reach out but had an issue generating the personalized message. I'd love to show you how Miraee can simplify your travel and expenses.\"\n    };\n  }\n\n  output.push({\n    json: {\n      ...item.json, // PRESERVE ALL ORIGINAL DATA (including row_number)\n      name: parsed.name || item.json.name || item.json.Name || \"\",\n      subject: parsed.subject || \"\",\n      email_body: parsed.email_body || \"\"\n    }\n  });\n\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3824,
        416
      ],
      "id": "e8ffdd1e-30e2-41d2-b879-339a15615cb0",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2448,
        352
      ],
      "id": "d5876f21-d2bc-40dd-8c68-ad47d42ad959",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3248,
        416
      ],
      "id": "ce3ca9bc-215c-47c0-b637-a913145e10b5",
      "name": "Merge1"
    },
    {
      "parameters": {
        "content": "Personalized Mail Generating Automation\n\nStep 1 - Get the data from previous work flow which we collected the person details \n\nStep 2 - Generating Search Queries to find Intent Signal \n\nStep 3 - Search with AI Google Mode search and find the resources \n\nStep 4 -  Message Models finds the Intent signal and pain point of icp \n\nStep 5 - Generating the Personalized Message and email subject related to them individualy and store in sheet",
        "height": 336,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        752,
        -368
      ],
      "typeVersion": 1,
      "id": "8d7e8ca4-4317-4d96-8414-ed87e4909f06",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "message-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        768,
        544
      ],
      "id": "f2383116-4868-4d81-b572-5545fd7b20c8",
      "name": "Webhook",
      "webhookId": "c2ba6cbe-1713-461f-8a6e-cae1cd34005b"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        4544,
        416
      ],
      "id": "a1c928fd-2af8-4dc7-8dfe-df0ec520a8f2",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1vFgXfOnsiCbVOvOJxj6E-sErHtLQ03AaVj4mP3YjAls",
          "mode": "list",
          "cachedResultName": "ICP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vFgXfOnsiCbVOvOJxj6E-sErHtLQ03AaVj4mP3YjAls/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1759447022,
          "mode": "list",
          "cachedResultName": "Verified Emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vFgXfOnsiCbVOvOJxj6E-sErHtLQ03AaVj4mP3YjAls/edit#gid=1759447022"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}",
            "subject": "={{ $json.subject }}",
            "email_body": "={{ $json.email_body }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "linkedin",
              "displayName": "linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company website",
              "displayName": "company website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_body",
              "displayName": "email_body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4208,
        416
      ],
      "id": "69b36d42-183a-4f56-8d01-2b1db6f3b0fe",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5UXIJ2FO1VLOtJZe",
          "name": "Mondee"
        }
      }
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "ai_mode",
              "value": "true"
            },
            {
              "name": "q",
              "value": "={{$json[\"content\"]}}"
            },
            {
              "name": "api-key",
              "value": "f07d353ac184511449c8a3409b782aa2d16d9ff7"
            },
            {
              "name": "num",
              "value": "20"
            },
            {
              "name": "Location",
              "value": "India"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2000,
        272
      ],
      "id": "caf56073-5c73-48bf-9d1d-32b2f33f0c02",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "721d7611-8901-44cb-b82c-4d17a9a049c1",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1200,
        544
      ],
      "id": "39f9fef0-e8dd-4ff8-a87b-1f78636ce663",
      "name": "If"
    },
    {
      "parameters": {
        "path": "get-drafts",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        688,
        240
      ],
      "id": "ceb31ea3-8fa0-4ca1-ae97-7c4b29367f3d",
      "name": "Webhook: Get Drafts",
      "webhookId": "45222715-1a95-4226-aea4-dd7688092ee8"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1vFgXfOnsiCbVOvOJxj6E-sErHtLQ03AaVj4mP3YjAls",
          "mode": "list",
          "cachedResultName": "ICP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vFgXfOnsiCbVOvOJxj6E-sErHtLQ03AaVj4mP3YjAls/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1759447022,
          "mode": "list",
          "cachedResultName": "Verified Emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vFgXfOnsiCbVOvOJxj6E-sErHtLQ03AaVj4mP3YjAls/edit#gid=1759447022"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        912,
        240
      ],
      "id": "22a37fb7-f5bf-4ffd-9ace-7d3268d7478f",
      "name": "Read Drafts",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5UXIJ2FO1VLOtJZe",
          "name": "Mondee"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1136,
        240
      ],
      "id": "7b1a64bf-7eae-45e3-9742-9bacc5d9c8cb",
      "name": "Respond with Drafts"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        768,
        752
      ],
      "id": "4013a022-505b-444c-a3ee-bb6568e3ef08",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidate Search Results": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Consolidate Search Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Get Drafts": {
      "main": [
        [
          {
            "node": "Read Drafts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Drafts": {
      "main": [
        [
          {
            "node": "Respond with Drafts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d625727a-a2d3-41e4-b6f9-1fc88eb0f312",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "48873ca0faf2834fcac348c85b5cfe8a77d198239fa094d25a95512e1a2e676b"
  },
  "id": "DCfq0YKJI5MT1fmP",
  "tags": []
}