Personalized Message sharing Automation working.json
{
  "name": "Personalized Message sharing Automation working",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        96
      ],
      "id": "aa8382de-cf2f-43cf-aa88-136f45dd188d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1vFgXfOnsiCbVOvOJxj6E-sErHtLQ03AaVj4mP3YjAls",
          "mode": "list",
          "cachedResultName": "ICP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vFgXfOnsiCbVOvOJxj6E-sErHtLQ03AaVj4mP3YjAls/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1759447022,
          "mode": "list",
          "cachedResultName": "Verified Emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vFgXfOnsiCbVOvOJxj6E-sErHtLQ03AaVj4mP3YjAls/edit#gid=1759447022"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        96
      ],
      "id": "ebad0733-c1a4-4a38-aaad-02313650af25",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JEbTt0zril7zimiA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        96
      ],
      "id": "45f73d7a-68fc-492e-9a97-3f497c8725da",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        736,
        256
      ],
      "id": "099e8b5a-d95c-492f-babf-9265a75adad9"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "You are a Sales Intelligence Researcher for Miraee (Agentic OS for Travel/Expenses). Your goal is to help find 'Business Signals' that indicate a company is scaling, expanding, or growing its team. This helps identify companies whose travel and expense management complexity is increasing."
            },
            {
              "content": "=Generate ONE natural Google search query written as a QUESTION for {{ $json.company }}.\n\nFocus on signals such as:\n- New office openings or expansion into new cities\n- Aggressive hiring or team growth metrics\n- Recent funding rounds (Series A/B/C) or acquisitions\n- New partnerships or global product launches\n\nRules:\n- Output must be ONE natural question.\n- Include the company name.\n- Return ONLY the question text."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        672,
        -176
      ],
      "id": "0ed39062-66e5-4de5-8d1e-29df7a7fc3ba",
      "name": "Message a model",
      "credentials": {
        "ollamaApi": {
          "id": "0GXRgtwWrYvi3RpE",
          "name": "Ollama account 5"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let output = [];\n\nfor (const item of items) {\n  const blocks = item.json.text_blocks || [];\n  // Consolidated all snippets into one text block for the AI to analyze together\n  let consolidatedContent = blocks.map(b => b.snippet).filter(s => s).join(\"\\n\\n---\\n\\n\");\n\n  output.push({\n    json: {\n      ...item.json, // PRESERVE ALL LEAD DATA\n      consolidated_snippets: consolidatedContent || \"No specific snippets found.\",\n      source: \"Google AI Mode\"\n    }\n  });\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        -176
      ],
      "id": "e5ef623d-09a1-43e4-8b1e-cbe1aaa988a3",
      "name": "Consolidate Search Results"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "You are a Sales Intelligence Researcher for Miraee (an Agentic OS for Corporate Travel & Expenses). \n\nYour Goal: Analyze business signals from search results to identify 'Pain Points' that Miraee solves for mid-range Indian companies.\n\nMiraee Solutions Map:\n- **Scale-Up / Funding**: Triggers the need for transparent financial auditing and automated reimbursement.\n- **New Hiring / Team Growth**: Increases travel volume; needs automated flight/hotel/cab booking compliance.\n- **Expanding to New Cities**: Increases travel complexity; requires Miraee's 'Disruption Management' (auto-rebooking for cancelled flights).\n- **Cost Cutting**: Needs strict adherence to corporate travel policies and budget limits."
            },
            {
              "content": "=Analyze these search results for {{ $json.name }} at {{ $json.company }}:\n\n{{ $json.consolidated_snippets }}\n\nReturn EXACTLY this JSON format:\n{\n \"intent_signal\": \"The best business event found (e.g., Series B funding)\",\n \"summary\": \"A short summary.\",\n \"opportunity\": \"How Miraee specifically helps with this.\"\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        2144,
        -112
      ],
      "id": "a28eb5d8-dbe5-4f83-910f-e7fc6d04f264",
      "name": "Message a model1",
      "credentials": {
        "ollamaApi": {
          "id": "0GXRgtwWrYvi3RpE",
          "name": "Ollama account 5"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let text = $json.content;\n\n// remove markdown if AI adds ```json\ntext = text.replace(/```json/g, '').replace(/```/g, '').trim();\n\nlet parsed = {};\n\ntry {\n  parsed = JSON.parse(text);\n} catch (e) {\n  parsed = {\n    intent_signal: \"unknown\",\n    summary: \"Parsing failed\",\n    opportunity: \"N/A\"\n  };\n}\n\nreturn {\n  json: {\n    ...$json,\n    intent_signal: parsed.intent_signal || \"unknown\",\n    summary: parsed.summary || \"Could not analyze snippet\",\n    opportunity: parsed.opportunity || \"Manual review recommended\"\n  }\n};"
      },

      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2496,
        -112
      ],
      "id": "82e0fc42-efe3-4efd-8760-ecda6daee17e",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "You are a Senior B2B Outreach Specialist for Miraee. \n\nProduct Profile:\n- **Miraee Agentic OS**: A single hub for all corporate travel, accommodation, and expenses.\n- **Disruption Management**: AI agents monitor flights 24/7. If a flight is cancelled/delayed, Miraee notifies the user, suggests the best alternative, and books it automatically upon approval.\n- **Expense Governance**: Receipts are parsed via photo and audited instantly for policy compliance and accounting submission.\n- **Policy Control**: Automatically filters for flights/hotels that match company-approved budget limits.\n\nTone: Professional, helpful, and value-oriented. Target Indian mid-range startups looking to optimize their operational overhead."
            },
            {
              "content": "=Generate a personalized email for {{ $json.name }} at {{ $json.company }}.\n\nContext:\n- Intent Signal: {{ $json.intent_signal }}\n- Summary: {{ $json.summary }}\n- Opportunity: {{ $json.opportunity }}\n\nInstructions:\n1. Open by relating Miraee's Agentic OS to their {{ $json.intent_signal }}.\n2. Highlight how our 'Disruption Management' handles travel headaches so their team can focus on growth.\n3. Mention the ease of 'Expense Auditing' via simple photo uploads.\n4. Call to action: A quick 10-minute demo of the Miraee Hub.\n\nRules:\n- DO NOT use placeholders like $NAME$ or [Company Name].\n- Use the actual name provided: {{ $json.name }}.\n- Return ONLY JSON with 'subject' and 'email_body'."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        2944,
        -32
      ],
      "id": "deeb760c-4f0c-4801-b4c5-c432f13ec561",
      "name": "Message a model2",
      "credentials": {
        "ollamaApi": {
          "id": "0GXRgtwWrYvi3RpE",
          "name": "Ollama account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "google_ai_mode",
        "q": "={{$json[\"content\"]}}",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-serpapi.serpApi",
      "typeVersion": 1,
      "position": [
        1024,
        -176
      ],
      "id": "2c3dd5e1-43b3-46cd-a65d-8ea7c44b0e3b",
      "name": "Google_ai_mode search",
      "credentials": {
        "serpApi": {
          "id": "8tQ8teCjUleeLw8s",
          "name": "SerpApi account 4"
        }
      }
    },

    {
      "parameters": {
        "jsCode": "let output = [];\n\nfor (const item of items) {\n\n  let text = item.json.content || item.json || \"\";\n\n  // convert object to string if needed\n  if (typeof text !== \"string\") {\n    text = JSON.stringify(text);\n  }\n\n  // remove markdown if present\n  text = text.replace(/```json/g, '').replace(/```/g, '').trim();\n\n  // fix escaped new lines and quotes\n  text = text.replace(/\\\\n/g, \" \").replace(/\\\\\"/g, '\"');\n\n  let parsed = {};\n\n  try {\n    parsed = JSON.parse(text);\n  } catch (err) {\n    parsed = { \n      subject: \"Meeting Request: Miraee Agentic OS\",\n      email_body: \"Hi, I tried to reach out but had an issue generating the personalized message. I'd love to show you how Miraee can simplify your travel and expenses.\"\n    };\n  }\n\n  output.push({\n    json: {\n      ...item.json, // PRESERVE ALL ORIGINAL DATA (including row_number)\n      name: parsed.name || item.json.name || item.json.Name || \"\",\n      subject: parsed.subject || \"\",\n      email_body: parsed.email_body || \"\"\n    }\n  });\n\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3296,
        -32
      ],
      "id": "41ce2051-2791-4906-82ad-54eeedd52e33",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1920,
        -112
      ],
      "id": "b49ef9a8-a45c-46af-b89f-8d73eb0519cc",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2720,
        -32
      ],
      "id": "b9cd7ea4-2298-48e4-b3ec-0799092f74ea",
      "name": "Merge1"
    },

    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1vFgXfOnsiCbVOvOJxj6E-sErHtLQ03AaVj4mP3YjAls",
          "mode": "list",
          "cachedResultName": "ICP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vFgXfOnsiCbVOvOJxj6E-sErHtLQ03AaVj4mP3YjAls/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1759447022,
          "mode": "list",
          "cachedResultName": "Verified Emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vFgXfOnsiCbVOvOJxj6E-sErHtLQ03AaVj4mP3YjAls/edit#gid=1759447022"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "subject": "={{ $json.subject }}",
            "email_body": "={{ $json.email_body }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_body",
              "displayName": "email_body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3520,
        -32
      ],
      "id": "6536f3b7-89bf-49c6-8c2e-a29cc81b522b",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JEbTt0zril7zimiA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "Personalized Mail Generating Automation\n\nStep 1 - Get the data from previous work flow which we collected the person details \n\nStep 2 - Generating Search Queries to find Intent Signal \n\nStep 3 - Search with AI Google Mode search and find the resources \n\nStep 4 -  Message Models finds the Intent signal and pain point of icp \n\nStep 5 - Generating the Personalized Message and email subject related to them individualy and store in sheet",
        "height": 336,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        -256
      ],
      "typeVersion": 1,
      "id": "0a85d065-c479-4ba6-91e6-fe672a66868d",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Google_ai_mode search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google_ai_mode search": {
      "main": [
        [
          {
            "node": "Consolidate Search Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidate Search Results": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b29c7871-2d9e-42fe-be37-4a416e3edd10",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "261fd5aca1545bcb0a6afb7acb08f04ae3076b5defd23a381f7077f851be4d92"
  },
  "id": "ZGX8GOkHuIg4tPEr",
  "tags": []
}