Verfied Email Finder (3).json
{
  "name": "Verfied Email Finder",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba598919-b875-4325-beae-1ddb17e19c2a",
              "name": "query",
              "value": "={{ $json.Query }}",
              "type": "string"
            },
            {
              "id": "41fd8b3b-8dc0-474a-97b2-0fb1a7b933ce",
              "name": "signal",
              "value": "={{ $json.Signal }}",
              "type": "string"
            },
            {
              "id": "12c4c705-6287-4c93-a260-ba34819386f7",
              "name": "Filter",
              "value": "={{ $json.Filter }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        672
      ],
      "id": "2a9402d3-b946-41b4-b8b6-0e5093594b3e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n\n  let query = (item.json.Query || item.json.query || \"\").toLowerCase().trim();\n  let filter = (item.json.Filter || item.json.filter || \"\").toLowerCase().trim();\n\n  // 🚫 Skip empty queries\n  if (!query) {\n    return { json: { skip: true } };\n  }\n\n  // 🔥 Default filter (Targeting Mid-Range Companies)\n  let defaultFilter = 'india startup \"Series A\" OR \"Series B\" OR \"Series C\" OR \"growth stage\" OR \"fastest growing\" -enterprise -mnc -global -TCS -Infosys -Wipro -Reliance -Accenture';\n\n  // ✅ Combine query + filter\n  let finalQuery = filter \n    ? `${query} ${filter}` \n    : `${query} ${defaultFilter}`;\n\n  // 🇮🇳 Force India if missing\n  if (!finalQuery.includes(\"india\")) {\n    finalQuery += \" india mid-range startup\";\n  }\n\n  // 🚫 Remove generic queries\n  let badWords = [\"global\", \"enterprise\", \"MNC\", \"conglomerate\"];\n  if (badWords.some(word => query.includes(word))) {\n    return { json: { skip: true } };\n  }\n\n  return {\n    json: {\n      ...item.json,\n      final_query: finalQuery,\n      skip: false\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        672
      ],
      "id": "b4bfe1ea-1867-4956-a616-cbb7229491ff",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "9a87871e46f59599cfdb1adeb0d30c4d49ffb941"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"q\": {{ JSON.stringify($json.final_query) }},\n  \"num\": 10\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        608,
        672
      ],
      "id": "f1dcc6ba-df94-4fbe-bdb8-248251fb3171",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "let results = $json.organic;\n\nlet items = [];\n\nfor (let r of results) {\n\nitems.push({\njson:{\ntitle: r.title,\nsource_link: r.link,\nsnippet: r.snippet,\nsignal: $json.signal\n}\n});\n\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        672
      ],
      "id": "c18f019b-bf90-48a3-884c-1b7c034a45be",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "You are a strict data extraction engine.\n\nYou extract ONLY Indian mid-range startup or SaaS company names from the given text.\n\nRules:\n- Identify companies that are likely mid-range (growing, Series A-C, 50-500 employees).\n- EXCLUDE large MNCs (e.g., Google, Microsoft, TCS, Infosys, Reliance, etc.).\n- EXCLUDE investors, media, news reports, or research firms.\n- Remove duplicates and keep names clean.\n\nOutput must be:\n- Valid JSON only\n- Format: [{\"company_name\":\"Company1\"}, {\"company_name\":\"Company2\"}]"
            },
            {
              "content": "=Analyze the following text and extract Indian mid-range startups/SaaS companies matching the criteria:\n\n{{$json.content}}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        1472,
        672
      ],
      "id": "353c6fb3-b0e7-4581-a804-8afe97cf80ca",
      "name": "Message a model",
      "credentials": {
        "ollamaApi": {
          "id": "o1Ev6MnTipEqGOnj",
          "name": "Email Finder"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let raw = $json.content || $json.response || $json.data || \"\";\n\nif (!raw) return [];\n\n// 🔧 Clean escaped characters\nraw = raw.replace(/\\\\n/g, \"\")\n         .replace(/\\n/g, \"\")\n         .trim();\n\n// 🔧 Extract JSON array safely\nlet match = raw.match(/\\[\\s*\\{[\\s\\S]*\\}\\s*\\]/);\n\nif (!match) return [];\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(match[0]);\n} catch (e) {\n  return [];\n}\n\n// 🔥 Remove duplicates + clean names\nlet seen = new Set();\n\nlet output = [];\n\nfor (let item of parsed) {\n  let name = (item.company_name || \"\").trim();\n\n  if (!name) continue;\n\n  // remove weird entries\n  if (name.length < 2) continue;\n  if (name.toLowerCase().includes(\"the \")) continue;\n\n  if (!seen.has(name.toLowerCase())) {\n    seen.add(name.toLowerCase());\n\n    output.push({\n      json: {\n        company_name: name\n      }\n    });\n  }\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        672
      ],
      "id": "3d2da9a5-5b14-4e4e-9cc7-fee9b867e06b",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "e62e6828cdb20926c1f270be6ea2cf97d1d3e97e"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"q\": {{ JSON.stringify($json.company_name + \" official website\") }},\n \"num\": 1\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2048,
        672
      ],
      "id": "4064613a-35a8-439f-aedc-aeea8bcf9604",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "9a87871e46f59599cfdb1adeb0d30c4d49ffb941"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"q\": {{ JSON.stringify(\"site:linkedin.com/in \" + $json.company_name + \" \" + $json.role) }},\n \"num\": 5\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2496,
        672
      ],
      "id": "68a10781-5c9d-4d00-a6c2-0402bb1bbaa7",
      "name": "Linkedin Finder"
    },
    {
      "parameters": {
        "jsCode": "let roles = [\n\"Founder\",\n\"Co-Founder\",\n\"CEO\",\n\"Chief Business Officer\",\n\"Head of Client Partnerships\",\n\"Client Partner\",\n\"CTO\",\n\"VP Engineering\",\n\"Head of Product\",\n\"Head of Sales\",\n\"COO\",\n\"Managing Director\"\n];\n\nlet output = [];\n\nfor (let item of items) {\n\n  let result = item.json.organic?.[0];\n  let website = result?.link || \"\";\n\n  website = website\n    .replace(\"https://\",\"\")\n    .replace(\"http://\",\"\")\n    .replace(\"www.\",\"\")\n    .split(\"/\")[0];\n\n  let company = item.json.searchParameters.q\n    .replace(\" official website\",\"\")\n    .trim();\n\n  // For mid-range companies, Founders and C-level roles like CBO are highly reachable.\n  let role = roles[0]; \n\n  output.push({\n    json: {\n      company_name: company,\n      company_website: website,\n      role: role\n    }\n  });\n\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        672
      ],
      "id": "8853819d-ee8e-4f72-8aa8-5c232cb34ea2",
      "name": "Code Node Company name and Website"
    },
    {
      "parameters": {
        "content": "Verified Email Finder\n\nStep 1 - Setting Query with Signal\n\nStep 2 -  Search for Blogs or articles with mentioning the companies relates to that signal\n\nStep 3 - After Getting the Source link the message model will read all the sources and analyse the blog and found potential lead company names\n\nStep 4 - finding Linkedin Pages of the founded companies Management persons \n\nStep 5 - With Use of hunter we will find the verified official company mail id of the respective persons \n\nStep 6 - it will stores the output a name, company, role, linkedin, email \n\n\n\n",
        "height": 336,
        "width": 576
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "22044deb-2aa6-4eee-b668-9030ad212aef",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-finder",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -288,
        576
      ],
      "id": "0efe8446-50cd-4de9-b231-a6b859c7a066",
      "name": "Webhook",
      "webhookId": "3bb7181c-7897-4c18-bd9d-700f9a131adc"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kxNTqcPPeutXEMLqKh4DmBk0yZEOY8cpupKTEhlX7-A",
          "mode": "list",
          "cachedResultName": "Marketing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kxNTqcPPeutXEMLqKh4DmBk0yZEOY8cpupKTEhlX7-A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Email finder",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kxNTqcPPeutXEMLqKh4DmBk0yZEOY8cpupKTEhlX7-A/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -64,
        672
      ],
      "id": "5b67aa35-0709-4707-bbdc-2dd9c74a2bba",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KvqJRlFPzvWqVqdT",
          "name": "Mondee"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1vFgXfOnsiCbVOvOJxj6E-sErHtLQ03AaVj4mP3YjAls",
          "mode": "list",
          "cachedResultName": "ICP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vFgXfOnsiCbVOvOJxj6E-sErHtLQ03AaVj4mP3YjAls/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1759447022,
          "mode": "list",
          "cachedResultName": "Verified Emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vFgXfOnsiCbVOvOJxj6E-sErHtLQ03AaVj4mP3YjAls/edit#gid=1759447022"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -96,
        1712
      ],
      "id": "f2103b1b-f4bf-4140-92c0-fe4e2e444b12",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KvqJRlFPzvWqVqdT",
          "name": "Mondee"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        128,
        1712
      ],
      "id": "ace93c19-3a81-4840-a499-e4a32f0d0eb0",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "path": "get-leads",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -320,
        1712
      ],
      "id": "2efcbb93-f6f0-42cd-8bbd-517c01c53582",
      "name": "Webhook1",
      "webhookId": "eb3e6c4e-c3bf-4857-87e2-0740f88f0f21"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kxNTqcPPeutXEMLqKh4DmBk0yZEOY8cpupKTEhlX7-A",
          "mode": "list",
          "cachedResultName": "Marketing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kxNTqcPPeutXEMLqKh4DmBk0yZEOY8cpupKTEhlX7-A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Email finder",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kxNTqcPPeutXEMLqKh4DmBk0yZEOY8cpupKTEhlX7-A/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -96,
        1072
      ],
      "id": "fae215c1-2e4f-48b0-baac-b03fef4c9f72",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KvqJRlFPzvWqVqdT",
          "name": "Mondee"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        128,
        1072
      ],
      "id": "971af737-0e64-4f28-bf21-2666d85522a4",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-queries&signal",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -320,
        1072
      ],
      "id": "453b1981-53d6-4ca4-b41c-888777aae25d",
      "name": "Webhook2",
      "webhookId": "eb3e6c4e-c3bf-4857-87e2-0740f88f0f21"
    },
    {
      "parameters": {
        "path": "get-queries",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -320,
        1296
      ],
      "id": "a3e816ba-cb2c-4520-8ddb-8a7c3e4be363",
      "name": "Webhook: Get List",
      "webhookId": "b23a4e1a-dd6e-4969-ae00-91ad8109725a"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "save-query",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -320,
        1520
      ],
      "id": "1287a3b5-337c-4361-a1b9-0b2cc4ac451f",
      "name": "Webhook: Append New",
      "webhookId": "79e67683-31d8-48b6-8ca8-1a48453c65e9"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kxNTqcPPeutXEMLqKh4DmBk0yZEOY8cpupKTEhlX7-A",
          "mode": "list",
          "cachedResultName": "Marketing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kxNTqcPPeutXEMLqKh4DmBk0yZEOY8cpupKTEhlX7-A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Email finder",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kxNTqcPPeutXEMLqKh4DmBk0yZEOY8cpupKTEhlX7-A/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -96,
        1296
      ],
      "id": "3a9af64f-e0e2-4e87-8739-c30e7bfbb047",
      "name": "Read Queries",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KvqJRlFPzvWqVqdT",
          "name": "Mondee"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1kxNTqcPPeutXEMLqKh4DmBk0yZEOY8cpupKTEhlX7-A",
          "mode": "list",
          "cachedResultName": "Marketing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kxNTqcPPeutXEMLqKh4DmBk0yZEOY8cpupKTEhlX7-A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Email finder",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kxNTqcPPeutXEMLqKh4DmBk0yZEOY8cpupKTEhlX7-A/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Query": "={{ $json.body.Query }}",
            "Signal": "={{ $json.body.Signal }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Query",
              "displayName": "Query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Signal",
              "displayName": "Signal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Filter",
              "displayName": "Filter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -96,
        1520
      ],
      "id": "0766337c-afdd-453d-904a-36b611848854",
      "name": "Append Query",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KvqJRlFPzvWqVqdT",
          "name": "Mondee"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        128,
        1296
      ],
      "id": "1a4f761c-aea5-4a1d-94d7-43e57244ccc2",
      "name": "Respond List"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        128,
        1520
      ],
      "id": "b4aa284a-3017-47c7-9c2a-81f0c09f88ed",
      "name": "Respond Success"
    },
    {
      "parameters": {
        "jsCode": "let output = [];\n\nfor (let item of items) {\n\n  let results = item.json.organic || [];\n  let query = item.json.searchParameters?.q || \"\";\n\n  // 🔥 Extract company + role from query\n  let cleaned = query.replace(\"site:linkedin.com/in\", \"\").trim();\n\n  let words = cleaned.split(\" \");\n\n  let role = words.pop(); // last word = role (CBO, CEO etc)\n  let company = words.join(\" \").trim();\n\n  for (let r of results) {\n\n    let link = r.link || \"\";\n    if (!link.includes(\"linkedin.com/in/\")) continue;\n\n    let title = r.title || \"\";\n\n    // 🧠 Extract person name\n    let name = title.split(\"|\")[0].split(\"-\")[0].trim();\n\n    // 🧠 Extract role from title if available\n    let extractedRole = \"\";\n\n    if (title.includes(\"|\")) {\n      extractedRole = title.split(\"|\")[1].trim();\n    }\n\n    output.push({\n      json: {\n        company_name: company,              // ✅ cleaned\n        person_name: name,\n        role: extractedRole || role,        // ✅ fallback to query role\n        linkedin: link.split(\"?\")[0]\n      }\n    });\n\n  }\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2752,
        672
      ],
      "id": "363e1f3e-73f5-43af-be98-c2e6c657ed85",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -2656,
        1296
      ],
      "id": "7ccd76aa-84a6-4a1a-84fe-f2d95e7f7709",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "url": "https://api.hunter.io/v2/email-finder",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "={{ $json.company_website }}"
            },
            {
              "name": "first_name",
              "value": "={{ $json.first_name }}"
            },
            {
              "name": "api_key",
              "value": "092ff31599591d2603476c1612f61cb2e3cac4fc"
            },
            {
              "name": "last_name",
              "value": "={{ $json.last_name }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 5
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4208,
        512
      ],
      "id": "8d91a1e2-fb3d-4a90-9d3a-e27fbce3646b",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n\n  let fullName = item.json.person_name || \"\";\n  let parts = fullName.trim().split(\" \");\n\n  let first_name = parts[0] || \"\";\n  let last_name = parts.slice(1).join(\" \") || \"\";\n\n  return {\n    json: {\n      ...item.json,\n      first_name,\n      last_name\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3536,
        752
      ],
      "id": "f6bb44a3-b307-4664-a079-26273cb1e566",
      "name": "Code in JavaScript11"
    },
    {
      "parameters": {
        "jsCode": "let output = [];\n\nfor (let item of items) {\n\n  let data = item.json.data || {};\n\n  let first = data.first_name || \"\";\n  let last = data.last_name || \"\";\n\n  let name = (first + \" \" + last).trim();\n\n  let role = data.position || \"\";\n  let company = data.company || \"\";\n  let email = data.email || \"\";\n  let linkedin = data.linkedin_url || \"\";\n  let website = data.domain ? \"https://\" + data.domain : \"\";\n\n  output.push({\n    json: {\n      name: name,\n      role: role,\n      company: company,\n      email: email,\n      linkedin: linkedin,\n      company_website: website\n    }\n  });\n\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4432,
        512
      ],
      "id": "b12895f8-548e-4c15-960c-266019b58412",
      "name": "Code in JavaScript12"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        3984,
        752
      ],
      "id": "96c1a614-798a-4601-9a80-a9d3b098a16f",
      "name": "Limit1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "45df4213-b325-4c02-8058-106de1235a27",
              "leftValue": "={{$json.email}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4880,
        752
      ],
      "id": "a535166e-360b-4c0e-88e3-ea915cc31936",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vFgXfOnsiCbVOvOJxj6E-sErHtLQ03AaVj4mP3YjAls",
          "mode": "list",
          "cachedResultName": "ICP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vFgXfOnsiCbVOvOJxj6E-sErHtLQ03AaVj4mP3YjAls/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1759447022,
          "mode": "list",
          "cachedResultName": "Verified Emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vFgXfOnsiCbVOvOJxj6E-sErHtLQ03AaVj4mP3YjAls/edit#gid=1759447022"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.name }}",
            "role": "={{ $json.role }}",
            "company": "={{ $json.company }}",
            "email": "={{ $json.email }}",
            "linkedin": "={{ $json.linkedin }}",
            "company website": "={{ $json.company_website }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "linkedin",
              "displayName": "linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company website",
              "displayName": "company website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5104,
        752
      ],
      "id": "9058e8e7-c13c-4828-a041-0cebaabaf03f",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KvqJRlFPzvWqVqdT",
          "name": "Mondee"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4656,
        752
      ],
      "id": "2978e333-3842-409e-a4e0-70b3f5c20cef",
      "name": "Merge2"
    },
    {
      "parameters": {
        "jsCode": "return items.filter(item => {\n  const lastName = (item.json.last_name || \"\").trim();\n  return lastName.length > 2;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3760,
        752
      ],
      "id": "156898fb-f663-457f-9fc2-8ed88371e464",
      "name": "Code in JavaScript13"
    },
    {
      "parameters": {
        "content": "Verified Email Finder\n\nStep 1 - Setting Query with Signal\n\nStep 2 -  Search for Blogs or articles with mentioning the companies relates to that signal\n\nStep 3 - After Getting the Source link the message model will read all the sources and analyse the blog and found potential lead company names\n\nStep 4 - finding Linkedin Pages of the founded companies Management persons \n\nStep 5 - With Use of hunter we will find the verified official company mail id of the respective persons \n\nStep 6 - it will stores the output a name, company, role, linkedin, email \n\n\n\n",
        "height": 336,
        "width": 576
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2688,
        416
      ],
      "typeVersion": 1,
      "id": "2af72f1e-54d7-44c0-b3f2-98e786104317",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        5312,
        752
      ],
      "id": "7149499a-4855-40eb-b969-b45134566602",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        784
      ],
      "id": "803a4001-fa85-4770-b4fb-451c9097df2e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "=https://r.jina.ai/{{$json.source_link}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "browser",
              "value": "{   \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 Chrome/120 Safari/537.36\" }"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1040,
        672
      ],
      "id": "dff01984-402e-4404-81a9-9af423fc439f",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "jsCode": "let text = $json.data || $json.body || \"\";\n\nif (!text || text.length < 50) {\n  return [];\n}\n\n// Clean basic noise (optional but useful)\ntext = text.replace(/\\n+/g, \" \").trim();\n\n// LIMIT (important for LLM)\ntext = text.slice(0, 15000);\n\nreturn [\n  {\n    json: {\n      content: text\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        672
      ],
      "id": "9b88a974-c63d-4cef-a612-59f79cb2bb78",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "company_name",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3184,
        704
      ],
      "id": "8f9a6d99-4fca-4a59-9759-9f2cb446e969",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code Node Company name and Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin Finder": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Node Company name and Website": {
      "main": [
        [
          {
            "node": "Linkedin Finder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Get List": {
      "main": [
        [
          {
            "node": "Read Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Queries": {
      "main": [
        [
          {
            "node": "Respond List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Append New": {
      "main": [
        [
          {
            "node": "Append Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Query": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Code in JavaScript12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript11": {
      "main": [
        [
          {
            "node": "Code in JavaScript13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript12": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript13": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6c5c24b4-30b7-4377-b99b-77361c04b462",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "82355c3d14754dee65ede1e84f37c59fa7612a6294b4b7f16c316226d270746b"
  },
  "id": "LgrfheUdKrnjAxWK",
  "tags": []
}