Verfied Email Finder.json
{
  "name": "Verfied Email Finder",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        64
      ],
      "id": "7a949d56-3516-4b77-a6f3-f461d1071e36",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba598919-b875-4325-beae-1ddb17e19c2a",
              "name": "query",
              "value": "SaaS startup raises funding",
              "type": "string"
            },
            {
              "id": "41fd8b3b-8dc0-474a-97b2-0fb1a7b933ce",
              "name": "signal",
              "value": "Funding",
              "type": "string"
            },
            {
              "id": "2fb72b48-2988-4375-b4a1-4ed83f30a819",
              "name": "signal2",
              "value": "Hiring people",
              "type": "string"
            },
            {
              "id": "3af43e1e-c38b-42bc-be62-1d4deb22b0d6",
              "name": "signal3",
              "value": "Launching New Product",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        64
      ],
      "id": "ab6eecef-3ec7-486f-b68a-05835e09d0f8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "return [\n  { json: { query: \"SaaS startup raises funding\", signal: \"Funding\" } },\n  { json: { query: \"software startup raises funding\", signal: \"Funding\" } },\n  { json: { query: \"software company hiring sales manager\", signal: \"Hiring\" } },\n  { json: { query: \"SaaS company hiring customer success\", signal: \"Hiring\" } },\n  { json: { query: \"startup launches new SaaS platform\", signal: \"Product Launch\" } },\n  { json: { query: \"tech company expansion announcement\", signal: \"Expansion\" } },\n  { json: { query: \"software company opens new office\", signal: \"Expansion\" } },\n  { json: { query: \"SaaS conference exhibitors\", signal: \"Event\" } },\n  { json: { query: \"tech summit participants\", signal: \"Event\" } }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        64
      ],
      "id": "cce7560e-edee-4148-a7fa-1369b22bcb46",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "9a87871e46f59599cfdb1adeb0d30c4d49ffb941"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"q\": \"{{$json.query}}\",\n  \"num\": 10\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        64
      ],
      "id": "59dbf314-0100-4d14-95d1-7d268e8af8e6",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "let results = $json.organic;\n\nlet items = [];\n\nfor (let r of results) {\n\nitems.push({\njson:{\ntitle: r.title,\nsource_link: r.link,\nsnippet: r.snippet,\nsignal: $json.signal\n}\n});\n\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        64
      ],
      "id": "2857db8c-aee3-4b12-8c40-ca15a957974c",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "You are an information extraction assistant.\n\nTask:\nExtract only SaaS or startup company names mentioned in the article.\n\nRules:\n- Return only SaaS or startup company names.\n- Do not include people, investors, products, or organizations that are not companies.\n- Remove duplicates.\n- Return valid JSON only.\n- Do not include explanations or extra text.\n\nOutput format:\n[\n {\"company_name\":\"Company1\"},\n {\"company_name\":\"Company2\"}\n]"
            },
            {
              "content": "=Extract SaaS or startup company names from this article:\n\n{{$json.source_link}}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        1120,
        64
      ],
      "id": "69a91a58-c6ef-416a-8f4f-b94e25d87978",
      "name": "Message a model",
      "credentials": {
        "ollamaApi": {
          "id": "ExIENwzrF1CnjP7c",
          "name": "Ollama account 8"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let text = $json.content || \"\";\n\nlet matches = text.match(/\"company_name\"\\s*:\\s*\"([^\"]+)\"/g) || [];\n\nlet companies = matches.map(m => {\n  let name = m.match(/\"company_name\"\\s*:\\s*\"([^\"]+)\"/)[1];\n  return {\n    json: {\n      company_name: name\n    }\n  };\n});\n\nreturn companies;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        64
      ],
      "id": "c23f524a-f062-46c6-8d0c-665d5e013323",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "e62e6828cdb20926c1f270be6ea2cf97d1d3e97e"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"q\": \"{{$json.company_name}} official website\",\n \"num\": 1\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1696,
        64
      ],
      "id": "2f014582-cdf1-4d64-9adc-a4262ad9c1c1",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "let output = [];\n\nfor (let item of items) {\n\n  let results = item.json.organic || [];\n\n  for (let r of results) {\n\n    let link = r.link || \"\";\n\n    if (!link.includes(\"linkedin.com/in/\")) continue;\n\n    let title = r.title || \"\";\n\n    let person = title\n      .split(\"|\")[0]\n      .split(\"-\")[0]\n      .trim();\n\n    output.push({\n      json: {\n        company_name: item.json.company_name,\n        company_website: item.json.company_website,\n        role: item.json.role,\n        person_name: person,\n        linkedin: link.split(\"?\")[0]\n      }\n    });\n\n  }\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2368,
        -16
      ],
      "id": "4a8fee1c-8665-4cd7-8cd9-7a0019d01c61",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "9a87871e46f59599cfdb1adeb0d30c4d49ffb941"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"q\": \"site:linkedin.com/in {{$json.company_name}} {{$json.role}}\",\n \"num\": 5\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2144,
        -16
      ],
      "id": "bdf595e0-60ea-41b5-b647-72c15cf0774a",
      "name": "Linkedin Finder"
    },
    {
      "parameters": {
        "jsCode": "let roles = [\n\"CEO\",\n\"Founder\",\n\"CTO\",\n\"Head of Engineering\",\n\"VP Engineering\",\n\"Head of Product\",\n\"Chief Product Officer\",\n\"COO\",\n\"Head of Sales\"\n];\n\nlet output = [];\n\nfor (let item of items) {\n\n  let result = item.json.organic?.[0];\n  let website = result?.link || \"\";\n\n  website = website\n    .replace(\"https://\",\"\")\n    .replace(\"http://\",\"\")\n    .replace(\"www.\",\"\")\n    .split(\"/\")[0];\n\n  let company = item.json.searchParameters.q\n    .replace(\" official website\",\"\")\n    .trim();\n\n  // choose only ONE role\n  let role = roles[0]; // CEO\n\n  output.push({\n    json: {\n      company_name: company,\n      company_website: website,\n      role: role\n    }\n  });\n\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        64
      ],
      "id": "c9091fed-c915-400c-bc16-7b3a0ca32fb8",
      "name": "Code Node Company name and Website"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2592,
        64
      ],
      "id": "5f6ae9b5-7e78-4995-9787-da2b88b393d8",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "https://api.hunter.io/v2/email-finder",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "={{ $json.company_website }}"
            },
            {
              "name": "first_name",
              "value": "={{ $json.first_name }}"
            },
            {
              "name": "api_key",
              "value": "092ff31599591d2603476c1612f61cb2e3cac4fc"
            },
            {
              "name": "last_name",
              "value": "={{ $json.last_name }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 5
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3488,
        -16
      ],
      "id": "d32120cf-762e-459c-904e-5eab21f4edf4",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n\n  let fullName = item.json.person_name || \"\";\n  let parts = fullName.trim().split(\" \");\n\n  let first_name = parts[0] || \"\";\n  let last_name = parts.slice(1).join(\" \") || \"\";\n\n  return {\n    json: {\n      ...item.json,\n      first_name,\n      last_name\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2816,
        64
      ],
      "id": "5b9647bd-9bc4-4ad4-bf1a-1310a19cf943",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "jsCode": "let output = [];\n\nfor (let item of items) {\n\n  let data = item.json.data || {};\n\n  let first = data.first_name || \"\";\n  let last = data.last_name || \"\";\n\n  let name = (first + \" \" + last).trim();\n\n  let role = data.position || \"\";\n  let company = data.company || \"\";\n  let email = data.email || \"\";\n  let linkedin = data.linkedin_url || \"\";\n  let website = data.domain ? \"https://\" + data.domain : \"\";\n\n  output.push({\n    json: {\n      name: name,\n      role: role,\n      company: company,\n      email: email,\n      linkedin: linkedin,\n      company_website: website\n    }\n  });\n\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3712,
        -16
      ],
      "id": "cf2caa21-6545-43c3-a175-907adfa5f098",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        3264,
        64
      ],
      "id": "5026d54d-b71c-417e-b40e-9a7b5bd701a2",
      "name": "Limit"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "45df4213-b325-4c02-8058-106de1235a27",
              "leftValue": "={{$json.email}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4160,
        64
      ],
      "id": "32c60c70-74a3-466c-a9a9-9440a9903cfe",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vFgXfOnsiCbVOvOJxj6E-sErHtLQ03AaVj4mP3YjAls",
          "mode": "list",
          "cachedResultName": "ICP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vFgXfOnsiCbVOvOJxj6E-sErHtLQ03AaVj4mP3YjAls/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1759447022,
          "mode": "list",
          "cachedResultName": "Verified Emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vFgXfOnsiCbVOvOJxj6E-sErHtLQ03AaVj4mP3YjAls/edit#gid=1759447022"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.name }}",
            "role": "={{ $json.role }}",
            "company": "={{ $json.company }}",
            "email": "={{ $json.email }}",
            "linkedin": "={{ $json.linkedin }}",
            "company website": "={{ $json.company_website }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "linkedin",
              "displayName": "linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company website",
              "displayName": "company website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4384,
        64
      ],
      "id": "f84307e8-c1d4-489e-9cf7-91edbaec2bb5",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JEbTt0zril7zimiA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3936,
        64
      ],
      "id": "ce240f56-b116-422f-8925-b7284b0ac028",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "return items.filter(item => {\n  const lastName = (item.json.last_name || \"\").trim();\n  return lastName.length > 2;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3040,
        64
      ],
      "id": "09844db9-2916-4444-82aa-f4502c974990",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        0,
        288
      ],
      "id": "6dcba8d0-5df1-464e-8952-4bc492c47d70",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "content": "Verified Email Finder\n\nStep 1 - Setting Query with Signal\n\nStep 2 -  Search for Blogs or articles with mentioning the companies relates to that signal\n\nStep 3 - After Getting the Source link the message model will read all the sources and analyse the blog and found potential lead company names\n\nStep 4 - finding Linkedin Pages of the founded companies Management persons \n\nStep 5 - With Use of hunter we will find the verified official company mail id of the respective persons \n\nStep 6 - it will stores the output a name, company, role, linkedin, email \n\n\n\n",
        "height": 336,
        "width": 576
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        -592
      ],
      "typeVersion": 1,
      "id": "e614b084-a91c-4718-b9d8-badbff484e98",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code Node Company name and Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin Finder": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Node Company name and Website": {
      "main": [
        [
          {
            "node": "Linkedin Finder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "67d72670-118c-4269-8816-1ff4a10dd97a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "261fd5aca1545bcb0a6afb7acb08f04ae3076b5defd23a381f7077f851be4d92"
  },
  "id": "vapiGuOVYMwl4JeO",
  "tags": []
}