verified lead founder form version.json
{
  "name": "verified lead founder form version",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\n\n// 1. Extract values strictly from the incoming webhook\nconst query = body[\"Target Industry / Query\"] || body.industry || body.query || \"\";\nconst signal = body.signal || body.Signal || \"\";\nconst filter = body.filter || body.filters || body.Filter || \"\";\n\nreturn [{ \n  json: { \n    Query: query, \n    Signal: signal, \n    Filter: filter \n  } \n}];"
      },
      "id": "31dc0af5-ba42-4368-b540-ed4e3190761b",
      "name": "Unified Input Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "let query = ($json.Query || \"\").trim();\nlet filter = ($json.Filter || \"\").trim();\nlet signal = ($json.Signal || \"\").trim();\n// Construct the query strictly from user input\nlet finalQuery = `${query} ${signal} ${filter}`.trim();\nreturn { ...$json, final_query: finalQuery };"
      },
      "id": "5715a21e-ef13-4d5f-bd84-c78262d59679",
      "name": "Query Refiner",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "96496d9d3d34fcdcfc0026bb8d94cb0b9777b648"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"q\": $json.final_query, \"num\": 10 } }}",
        "options": {}
      },
      "id": "b0db04f9-9ef2-45c9-b670-2d2726e5d1f5",
      "name": "Serper Company Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        688,
        0
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=\"You are a high-speed data extraction engine. Your task is to identify and extract ALL companies mentioned in the search results. IMPORTANT: Do not use the name of the website that published the article (e.g., Clutch, Forbes, SaaS Talent) as the company name. Instead, look for the specific companies BEING DISCUSSED or LISTED in the text. For example, if an article from 'SaaS Talent' lists 'Steve Huffman of Reddit', the company name is 'Reddit' and the website is 'reddit.com'. Output valid JSON array only.\""
            },
            {
              "content": "={{ \"Search Results JSON: \" + JSON.stringify($json.organic) + \"\\n\\nTarget Criteria: \" + $(\"Unified Input Logic\").first().json.Query + \"\\n\\nTask: Identify and extract as many UNIQUE company-to-website pairs as possible from these results. Ignore the name of the source website.\\nOutput Requirement: Output ONLY a JSON array: [{\\\"company\\\":\\\"Actual Company Name\\\", \\\"website\\\":\\\"companydomain.com\\\"}]. If a website is missing, use 'N/A'.\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "548cfec2-05e5-48d3-be73-e07f7200d843",
      "name": "Ollama (AI Filter)",
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        912,
        0
      ],
      "credentials": {
        "ollamaApi": {
          "id": "FFPFwA8ZvFgxyIts",
          "name": "Marketing"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let raw = $json.content || $json.response || $json.text || \"\";\nraw = raw.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\ntry { return JSON.parse(raw).map(item => ({ json: item })); } catch (e) { return []; }"
      },
      "id": "62c8653a-fffd-4be0-80c4-fb2bb3815f0c",
      "name": "AI Output Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1132,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "96496d9d3d34fcdcfc0026bb8d94cb0b9777b648"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"q\": \"site:linkedin.com/in \" + $json.company + \" CEO Founder\", \"num\": 1 } }}",
        "options": {}
      },
      "id": "a9939c29-958b-45eb-a78a-a2d3cbc95f46",
      "name": "Serper LinkedIn Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1352,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// 🧠 Item-by-Item LinkedIn Parsing (Auto-linked by n8n)\nlet result = $json.organic?.[0] || {};\nlet title = result.title || \"\";\nlet snippet = result.snippet || \"\";\n\n// SYNC: n8n automatically pairs this item with the correct one from the AI node\nlet aiData = $(\"AI Output Parser\").item.json || {};\n\n// 1. Precise Split (Handles \" - \", \" | \", \" – \")\nlet titleParts = title.split(/ [\\-\\|\\–] /);\n\n// 2. Extract Name (Always the first part)\nlet namePart = titleParts[0]?.trim() || \"\";\nlet nameAtoms = namePart.split(\" \");\nlet first_name = nameAtoms[0] || \"\";\nlet last_name = nameAtoms.slice(1).join(\" \") || \"\";\n\n// 3. Extract Company from Title (if available)\nlet rawCompany = aiData.company || \"\";\nlet titleCompany = \"\";\n\nif (titleParts.length > 1) {\n  titleCompany = titleParts[1].replace(/Founder|CEO|Owner|Director|Managing|\\|/gi, \"\").trim();\n  if (titleCompany.toLowerCase() === \"linkedin\") {\n     titleCompany = titleParts[2]?.replace(/LinkedIn/gi, \"\").trim() || \"\";\n  }\n}\n\n// 4. Sanitization & Fallback\nlet finalCompany = (titleCompany.length > 2) ? titleCompany : rawCompany;\n\n// 5. 🧹 Snippet Recovery for Name\nif (last_name.length < 2 && snippet.includes(first_name)) {\n  let snippetMatches = snippet.match(new RegExp(first_name + \"\\\\s+([A-Z][a-z]+)\", \"i\"));\n  if (snippetMatches && snippetMatches[1]) {\n    last_name = snippetMatches[1];\n    namePart = first_name + \" \" + last_name;\n  }\n}\n\n// 6. 🧹 Domain Cleaning\nlet rawDomain = aiData.website || \"\";\nlet cleanDomain = rawDomain\n  .replace(/^https?:\\/\\//, \"\")\n  .replace(/^www\\./, \"\")\n  .split(\"/\")[0]\n  .split(\"?\")[0]\n  .trim();\n\n// 🚫 SKIP Check: Skip this item ONLY if domain is missing (Length check moved to If node)\nif (!cleanDomain || cleanDomain === \"N/A\") return [];\n\nreturn {\n  company: finalCompany,\n  domain: cleanDomain,\n  full_name: namePart,\n  first_name: first_name,\n  last_name: last_name,\n  linkedin: result.link,\n  website: rawDomain\n};"
      },
      "id": "e9a569d9-5572-4e4f-b9d5-85e92d8cf878",
      "name": "Extract Name",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1572,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.last_name.length }}",
              "operation": "larger",
              "value2": 2
            }
          ]
        }
      },
      "id": "67f1b21e-ef13-4d5f-bd84-c78262d59679",
      "name": "Filter by Name Length",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1792,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://api.hunter.io/v2/email-finder",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "={{ $json.domain }}"
            },
            {
              "name": "first_name",
              "value": "={{ $json.first_name }}"
            },
            {
              "name": "last_name",
              "value": "={{ $json.last_name }}"
            },
            {
              "name": "api_key",
              "value": "0297bb0a642eb10d25d8cf936f53aecf7ea6798b"
            }
          ]
        },
        "options": {}
      },
      "id": "a5265933-dc6e-40b9-887a-920e265c862f",
      "name": "Hunter Email Finder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2012,
        0
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vFgXfOnsiCbVOvOJxj6E-sErHtLQ03AaVj4mP3YjAls",
          "mode": "list",
          "cachedResultName": "ICP",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vFgXfOnsiCbVOvOJxj6E-sErHtLQ03AaVj4mP3YjAls/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1759447022,
          "mode": "list",
          "cachedResultName": "Verified Emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vFgXfOnsiCbVOvOJxj6E-sErHtLQ03AaVj4mP3YjAls/edit#gid=1759447022"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.name }}",
            "company": "={{ $json.company }}",
            "email": "={{ $json.email }}",
            "linkedin": "={{ $json.linkedin }}",
            "company website": "={{ $json.website }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin",
              "displayName": "linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company website",
              "displayName": "company website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ccf15e67-1dd6-4f0a-9cce-2de35f4febe7",
      "name": "Google Sheets Output",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2452,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5UXIJ2FO1VLOtJZe",
          "name": "Mondee"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Logic to map verified emails back to sheet fields\nlet leads = $input.all();\n\nreturn leads.map((item) => {\n  let email = item.json.data?.email;\n  if (!email) return null;\n\n  return {\n    json: {\n      name: item.json.name || item.json.full_name,\n      company: item.json.company,\n      website: item.json.website || item.json.domain,\n      linkedin: item.json.linkedin,\n      email: email\n    }\n  };\n}).filter(i => i !== null);"
      },
      "id": "6d90e03b-5b73-4702-808d-879aa0245849",
      "name": "Code in JavaScript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2232,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mail-input",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b720e2b0-8ae6-44b9-b6b4-0c5a761b21db",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        300,
        0
      ],
      "webhookId": "c21bb28a-d21c-49fb-ba0e-5c3e1fccf743"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "9fc33779-c091-45ab-af5b-040f411256bc",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2672,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Unified Input Logic": {
      "main": [
        [
          {
            "node": "Query Refiner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Refiner": {
      "main": [
        [
          {
            "node": "Serper Company Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Serper Company Search": {
      "main": [
        [
          {
            "node": "Ollama (AI Filter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama (AI Filter)": {
      "main": [
        [
          {
            "node": "AI Output Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Output Parser": {
      "main": [
        [
          {
            "node": "Serper LinkedIn Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Serper LinkedIn Search": {
      "main": [
        [
          {
            "node": "Extract Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Name": {
      "main": [
        [
          {
            "node": "Filter by Name Length",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter by Name Length": {
      "main": [
        [
          {
            "node": "Hunter Email Finder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter Email Finder": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Google Sheets Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Unified Input Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Output": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "92bba992-3526-4cd0-a46f-7190f4b5f24b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "48873ca0faf2834fcac348c85b5cfe8a77d198239fa094d25a95512e1a2e676b"
  },
  "id": "9Pu6Ziq7uaeqgi3D",
  "tags": []
}